


ul, ol, dl {
	padding: 0;
	margin: 0;
	margin-bottom: 10px;
}

h1, h2, h3, h4, h5, h6, p {

	font-variant: normal;
	font-style:normal;
	font-weight:normal;
	margin: 0 0 15px 0;
	padding:0;
}

h1 {
	font-size:26px;
}

h2 {
	font-size:12px;
	font-weight:bold;
}

#rh_bot_copy ul {
	margin-left:24px;
}

.rm_page p {
	margin-bottom:5px;
}


a img { 
	border: none;
}

img {
	border: none;
	margin:0;
}

body {
	font-family:Verdana, Geneva, sans-serif;
	background: #BDB1A6;
	margin: 0;
	padding: 0;
}

#header {
	display: none;
}

#page-title
{
float: left;	
display:block;	
font-variant: normal;
font-style: normal;
font-weight: normal;
padding: 0px;
margin: 12px;
margin-top: 25px;
margin-left: 25px;
margin-bottom: 0px;
background-color: white;
font-size: 26px;
}


.page-node-8 h1#page-title
{
color: #FFD65A;
}


#content .section {
float: left;	
position: relative;
width: 721px;
left: -12px;
border-left-color: #BDB1A6;
border-left-style: solid;
border-left-width: 12px;
}

#block-views-top-photos-block
{
border-bottom-style: solid;
border-bottom-color: #BDB1A6;
border-bottom-width: 12px;
}

#page-wrapper {
	position: relative;
	width: 960px;
	margin: 0 auto;
	padding: 0;

}

#main-wrapper {
	float: right;
	background-color: white;
	width: 930px;	
}


#breadcrumb {
	display: none;
}

#content {
    width: 500;
	float: left;
  	display: inline;
  	position: relative;
}

#sidebar-first {
	float: left;	
	xdisplay: inline;
  	xposition: relative;
	width: 185px;
	border-right-style: solid;
	border-right-color: #BDB1A6;
	border-right-width: 12px;
}

#sidebar-second {
	float: left;
  	display: inline;
  	position: relative;
}

.region-content{
float: left;
}

#block-menu-block-3 .content .menu-block-3
{
	color: red;
	float:left;
	margin-top:10px;
	font-size:18px;
}

#block-menu-block-3 .content .menu-block-3
ul
{
    list-style: none;
	margin:0 10px 0 0;
	padding:0; 
	text-align: right;	
}

#block-menu-block-3 .content .menu-block-3 li
{
padding-top:12px;
}


#block-menu-block-3 .content .menu-block-3 li a
{
display: block; 
width: 155px;  
color: #000;
text-decoration: none;
}

.reservations {}
#block-menu-block-3 .content .menu-block-3 li.menu-mlid-368 a:hover
{
color: #C75B12;
}

.ourRoows {}
#block-menu-block-3 .content .menu-block-3 li.menu-mlid-371 a:hover
{
color: #FFD65A;
}
.ourRoows {}
#block-menu-block-3 .content .menu-block-3 li.menu-mlid-371 a.active,
#block-menu-block-3 .content .menu-block-3 li.menu-mlid-371 a.active-trail
{
color: #FFD65A;
}

.ourMotel {}
#block-menu-block-3 .content .menu-block-3 li.menu-mlid-523 a:hover
{
color: #A3A86B;
}
.ourMotel {}
#block-menu-block-3 .content .menu-block-3 li.menu-mlid-523 a.active,
#block-menu-block-3 .content .menu-block-3 li.menu-mlid-523 a.active-trail
{
color: #A3A86B;
}


.whatToDo {}
#block-menu-block-3 .content .menu-block-3 li.menu-mlid-370 a:hover
{
color: #99CCC3;
}
.whatToDo {}
#block-menu-block-3 .content .menu-block-3 li.menu-mlid-370 a.active,
#block-menu-block-3 .content .menu-block-3 li.menu-mlid-370 a.active-trail
{
color: #99CCC3;
}


.specials {}
#block-menu-block-3 .content .menu-block-3 li.menu-mlid-369 a:hover
{
color: #A3A86B;
}
.specials {}
#block-menu-block-3 .content .menu-block-3 li.menu-mlid-369 a.active,
#block-menu-block-3 .content .menu-block-3 li.menu-mlid-369 a.active-trail
{
color: #A3A86B;
}

.contactUs {}
#block-menu-block-3 .content .menu-block-3 li.menu-mlid-373 a:hover
{
color: #99BFE5;
}
.contactUs {}
#block-menu-block-3 .content .menu-block-3 li.menu-mlid-373 a.active,
#block-menu-block-3 .content .menu-block-3 li.menu-mlid-373 a.active-trail
{
color: #99BFE5;
}


#highlighted {
float: left;	
position: relative;
xborder-bottom-style: solid;
xborder-bottom-color: #BDB1A6;
xborder-bottom-width: 12px;
}

#navigation {
float: left;	
}

#navigation .section h2 {
	color: red;
	display: none;
	}

#xnavigation ul {
    xmargin:20px 0 0 0;
	margin-bottom: 10px;
	padding 0;
	float:left;
	width:930px;
	list-style-type:none;
	background-color: red;
 }

#navigation ul {
	margin-right: 0px;
    margin-bottom: 10px;
	padding 0px;
	float:left;
	width:960px;
	list-style-type:none;
	xbackground-color: red;
 }

#navigation li {
	display: inline;
	padding:0;
}

#sidebar-first {
  background-color: white;
  margin-left: 100;  
}


#navigation .section {
margin: 0px;
}

#navigation .section li a {
	display: block;
	font-size:15px;
    float: right;
    width: 166px;
	text-align: center;
	text-decoration: none;	
    background: #603913;
 	padding: 6px 9px;
	border-right: 2px solid #BDB1A6;
	cursor: hand; 
	cursor: pointer;
}

#navigation .section li.menu-365 a {
    width: 162px;	
}


#navigation .section li.menu-366 a {
    width: 170px;	
}


ul.inline, ul.links.inline {
    display: inline;
    padding-left: 0;
    padding-right: 0;
}

#navigation .section li a {
	color: #E0D9D1;
}

navigation home .menu-230 grass #A3A86B{}
navigation dining  .menu-363 orange #C75B12;{}
navigation howToGetHere .menu-364 papaya #FFD65A{}
navigation theSpa .menu-365 lavender #A3A86B{}
navigation pool .menu-366 blue #99BFE5{}

.home{}
#navigation .section li.menu-230 a.active,
#navigation .section li.menu-230 a.active-trail
{
color: #A3A86B;	
}
#navigation .section li.menu-230 a:hover {
color: #A3A86B;	
}

.dining{}
#navigation .section li.menu-363 a.active,
#navigation .section li.menu-363 a.active-trail
{
color: #C75B12;	
}
#navigation .section li.menu-363 a:hover {
color: #C75B12;
}

howToGetHere{}
#navigation .section li.menu-364 a.active, 
#navigation .section li.menu-364 a.active-trail 
{
color: #FFD65A;	
}
#navigation .section li.menu-364 a:hover {
color: #FFD65A;
}

#navigation .section li.menu-365 a.active, 
#navigation .section li.menu-365 a.active-trail 
{
color: #A3A86B;	
}
#navigation .section li.menu-365 a:hover {
color: #A3A86B;
}


#navigation .section li.menu-366 a.active,
#navigation .section li.menu-366 a.active-trail {
color: #99BFE5;	
}
#navigation .section li.menu-366 a:hover {
color: #99BFE5;	
}

#main-wrapper #main #content{
xbackground-color:green;	
}

.view-content {
background-color: white;
padding: 12px;
padding-bottom: 9px;
height: 280px;
width: 709px;
}

/*#block-system-main { 
xbackground-color: blue;
font-size: 12px;
padding: 1px;
margin: 0px;
margin-top: 2px;
margin-left: 24px;
}
*/

ul .menu {
	background-color: green;
	text-align: right;	
}

#block-menu-menu-front-page-left .content ul.menu {
background-color: yellow;
text-align: right;	
}


ul li.leaf {
list-style: none;
list-style-type: none;
list-style-image: none;
}
    
.leaf a {
color: black;
}

#logo {
position: relative;
left: -30px;
width: 240px;
padding-top: 15px;
}

#block-menu-block-1 h2 {
display: none;	
}

#block-menu-block-1 .content .menu-block-1 ul.menu li.first a {
border-left-width: 2px;
border-left-color: #F2F0ED;
border-left-style: solid;
}

#block-menu-block-1 .content .menu-block-1 ul.menu {
  width:777px;
  line-height:normal;
  float: left;
  margin: 0;
  padding: 0 0 0 0px;
  background-color:#BDB1A6; 
}

.menu-block-1 ul.menu li{
  margin:0;
  padding:0px;
  list-style:none;
  float: left;
  margin: 0;
  padding: 0 0 0 0px;
  background-color:#BDB1A6;
}

.menu-block-1 ul.menu li.active{
  background-color:white;
}

.menu-block-1 ul.menu li a{
  float: left;
  display: block;
  xwidth: 99px;
  width: 99px;
  text-align: center;
  padding: 5px 1px 4px 1px;
  text-decoration: none;
  font-weight: normal;
  color: #603913;
  border-color: #F2F0ED;
  border-width: 2px 2px 0px 0px;
  border-style:solid;
}

artsCrafts{}
.menu-block-1 ul.menu li.menu-mlid-379 a{
padding-left: 6px;
padding-right: 6px;
}

footFerries{}
.menu-block-1 ul.menu li.menu-mlid-498 a{
width: 109px;
}



.theSpa .overView {}
.menu-block-1 ul.menu li.menu-mlid-525 a{
width: 121px;	
}

.massage{}
.menu-block-1 ul.menu li.menu-mlid-501 a{
width: 124px;	
}

.body{}
.menu-block-1 ul.menu li.menu-mlid-502 a{
width: 121px;	
}

.face{}
.menu-block-1 ul.menu li.menu-mlid-503 a{
width: 121px;	
}

.nails{}
.menu-block-1 ul.menu li.menu-mlid-504 a{
width: 121px;	
}

.more{}
.menu-block-1 ul.menu li.menu-mlid-505 a{
width: 121x;	
}


#block-menu-block-2 .content .menu-block-2 ul.menu li.first a {
border-left-width: 2px;
border-left-color: #F2F0ED;
border-left-style: solid;
}

#block-menu-block-2 .content .menu-block-2 ul.menu {
  width:777px;
  line-height:normal;
  float: left;
  margin: 0;
  padding: 0 0 0 0px;
  background-color:#BDB1A6; 
}

.menu-block-2 ul.menu li{
  margin:0;
  padding:0px;
  list-style:none;
  float: left;
  margin: 0;
  padding: 0 0 0 0px;
  background-color:#BDB1A6;
}

.menu-block-2 ul.menu li.active{
  background-color:white;
}

.menu-block-2 ul.menu li a{
  float: left;
  display: block;
  xwidth: 99px;
  width: 99px;
  text-align: center;
  padding: 5px 1px 4px 1px;
  text-decoration: none;
  font-weight: normal;
  color: #603913;
  border-color: #F2F0ED;
  border-width: 2px 2px 0px 0px;
  border-style:solid;
}

.menu-block-2 ul.menu li a.active {
color: #603913;
}

.menu-block-2 ul.menu li a.active:hover{
color: #603913;
}

.queenRooms{}
.menu-block-2 ul.menu li.menu-mlid-506 a{
width: 124px;	
}

.kingRooms{}
.menu-block-2 ul.menu li.menu-mlid-507 a{
width: 124px;	
}

.kitchenettes{}
.menu-block-2 ul.menu li.menu-mlid-508 a{
width: 124px;	
}

.house{}
.menu-block-2 ul.menu li.menu-mlid-509 a{
width: 124px;	
}

.petFriendly{}
.menu-block-2 ul.menu li.menu-mlid-522 a{
width: 124px;	
}

.whales{}
.menu-block-2 ul.menu li.menu-mlid-522 a{
width: 124px;	
}

.kayaking{}
.menu-block-2 ul.menu li.menu-mlid-522 a{
width: 124px;	
}

.cycling{}
.menu-block-2 ul.menu li.menu-mlid-522 a{
width: 124px;	
}

.shoreline{}
.menu-block-2 ul.menu li.menu-mlid-522 a{
width: 124px;	
}

.hiking{}
.menu-block-2 ul.menu li.menu-mlid-522 a{
width: 124px;	
}

.driving{}
.menu-block-2 ul.menu li.menu-mlid-522 a{
width: 124px;	
}

.house{}
.menu-block-2 ul.menu li.menu-mlid-509 a{
width: 112px;	
}

.cycling{}
.menu-block-2 ul.menu li.menu-mlid-518 a{
width: 109px;	
}


.menu-block-2 ul.menu li a:hover{
color: white;	
}

.menu-block-2 ul.menu li.menu-mlid-515 a
{
width: 109px;	
}


#worldweb {
float: left;
text-align: center;
margin: 50px 0 30px 10px;
padding: 10px 0 10px 20px;
width: 143px;
background: white;
color: black;
border: 1px solid;
}

#worldweb tbody{
border-top: 0px none;	
	
}


 #address {
    float:left;
    width:175px;
    text-align:right;
    padding:0 10px 0 0; 
    xmargin: 10px 10px 0 0;
    margin-left: 30px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size:12px;
    color: #603913;
}

.bg_font {
    font-size:14px;
}
 
 
.sm_font {
    font-size: 10px;
}
 
 
 
 #block-block-2 .content div p
 {
	float:left;
	width:175px;
	text-align:right;
	padding:0 10px 0 0; 
	margin: 10px 10px 0 0;
    font-size:12px;
	color: #603913;
}

#copyright {
	float:left;
	width: 580px;
	text-align: center;
	margin-top:40px;
	font-size:10px;
}

#copyright p {
    padding:0;
	margin: 10px 0 0 0;
}
	
#copyright a {
	text-decoration:none;
	color:#d22e30;
}

#copyright a:hover {
	text-decoration:underline;
}


/* Body Color Handling */

.field-name-field-color {
	display:none;
}


/* GRASS */


.grass_page a {
	text-decoration:none;
	color:#A3A86B;
}

.grass_page a:hover, a:focus{
	text-decoration: underline;
	color:#A3A86B;
}

.grass_page a:active {
	text-decoration:none;
	color:#A3A86B;
}

.grass_page h1 {
	color: #A3A86B;
}
 
/* -- BLUE -- */


.blue_page a {
	text-decoration:none;
	color:#99BFE5;
}

.blue_page a:hover, a:focus{
	text-decoration: underline;
	color:#99BFE5;
}

.blue_page a:active {
	text-decoration:none;
	color:#99BFE5;
}

.blue_page h1 {
	color: #99BFE5;
}
 
/* LAVENDER */

.lavender_page a {
	text-decoration:none;
	color:#A3A86B;
}

.lavender_page a:hover, a:focus{
	text-decoration: underline;
	color:#A3A86B;
}

.lavender_page a:active {
	text-decoration:none;
	color:#A3A86B;
}

.lavender_page h1 {
	color: #A3A86B;
}

/* PAPAYA */


.papaya_page a {
	text-decoration:none;
	color:#FFD65A;
}

.papaya_page a:hover, a:focus{
	text-decoration: underline;
	color:#FFD65A;
}

.papaya_page a:active {
	text-decoration:none;
	color:#FFD65A;
}

.papaya_page h1 {
	color: #FFD65A;
}

/* SEAFOAM */

.seafoam_page a {
	text-decoration:none;
	color:#99CCC3;
}

.seafoam_page a:hover, a:focus{
	text-decoration: underline;
	color:#99CCC3;
}

.seafoam_page a:active {
	text-decoration:none;
	color:#99CCC3;
}

.seafoam_page h1 {
	color: #99CCC3;
}

/* ORANGE */

.orange_page a {
	text-decoration:none;
	color:#C75B12;
}

.orange_page a:hover, a:focus{
	text-decoration: underline;
	color:#C75B12;
}

.orange_page a:active {
	text-decoration:none;
	color:#C75B12;
}

.orange_page h1 {
	color: #C75B12;
}



/* Side Page Graphics */

.field-name-field-graphic {
	display:none;
}

#rh_bot_copy {
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	float:left;
	width:683px;
	background-color:#fff;
	padding: 25px 25px 30px 25px;
}

#copy_box {
	float: left;
	width:420px;
	padding:0;
	margin:0;
}

.sun_logo {
	  padding-left:80px; 
	  padding-top:35px; 
}
  
.grass_logo {
	 padding-left:75px; 
	 padding-top:30px;
}

.spa_logo {
	 padding-left:75px; 
	 padding-top:0;
}
 
.water_logo {
	 padding-left:68px;
	 padding-top:110px; 
}
 
.node-type-forum p {
	font-size: 14px;
    margin: 8px 0px 8px 20px;
}

.node-type-forum .submitted  ,.node-type-forum .field-item {
  margin-left:40px;
}

.node-type-forum .field-label {
	margin:10px 0 10px 30px;
}

.node-forum #page-title {
	color:#A3A86B;
	margin-bottom:20px;
}

.node-forum .comment-form {
	margin-left:40px;
}

.node-forum h2.comment-form, .node-type-forum .comment-add {
	font-size:12px;
	color:#FFD65A;
	margin-top:20px;
}

.node-type-forum .permalink {
	font-size:14px;
	color:#A3A86B;
	text-decoration:none;

}
.comment h3 {
		margin-top:10px;
		margin-bottom:5px;
		margin-left:5px;
		padding-left:10px;
		width:400px;
		border-top:1px dashed #A3A86B;
}

.comment ul.links.inline {
	margin-left:60px;
}

.node-type-forum .submitted .permalink {
	display:none;
}

.node-forum ul {
	font-size:12px;
	margin-left:40px;
}

.node-forum ul li {
	padding:0;
	margin:0;
}

.node-forum .submitted {
	font-size:10px;
}

.node-forum .comment-new {
  margin:0 0 0 40px;
  font-size:10px;
  padding:0;
  color:#F82200
}

/*



#navigation a:hover, a:active, a:focus {
	text-decoration:none;	
}


#main-menu li a:hover{
xcolor: #C75B12;
	}
	
	















.menu-364 {
color: red;	
}


 */