/* Stylesheet for the Earthbox Inn Website */
/* Copyright 2012 Swiftsure Marketing Inc. */


ul, ol, dl {
	padding: 0;
	margin: 0;
	margin-bottom: 10px;
}

h1, h2, h3, h4, h5, h6, p {

	font-variant: normal;
	font-style:normal;
	font-weight:normal;
	margin: 0 0 15px 0;
	padding:0;
}

h1 {
	font-size:26px;
}

h2 {
	font-size:12px;
	font-weight:bold;
}

#rh_bot_copy ul {
	margin-left:24px;
}

.rm_page p {
	margin-bottom:5px;
}


a img { 
	border: none;
}

img {
	border: none;
	margin:0;
}

body {
	font-family:Verdana, Geneva, sans-serif;
	background: #BDB1A6;
	margin: 0;
	padding: 0;
}

#header {
	display: none;
}

#page-title
{
float: left;	
display:block;	
font-variant: normal;
font-style: normal;
font-weight: normal;
padding: 0px;
margin: 12px;
margin-top: 25px;
margin-left: 25px;
margin-bottom: 0px;
background-color: white;
font-size: 26px;
}


.page-node-8 h1#page-title
{
color: #FFD65A;
}


#content .section {
float: left;	
position: relative;
width: 721px;
left: -12px;
border-left-color: #BDB1A6;
border-left-style: solid;
border-left-width: 12px;
}

#block-views-top-photos-block
{
border-bottom-style: solid;
border-bottom-color: #BDB1A6;
border-bottom-width: 12px;
}

#page-wrapper {
	position: relative;
	width: 960px;
	margin: 0 auto;
	padding: 0;

}

#main-wrapper {
	float: right;
	background-color: white;
	width: 930px;	
}


#breadcrumb {
	display: none;
}

#content {
    width: 500;
	float: left;
  	display: inline;
  	position: relative;
}

#sidebar-first {
	float: left;	
	width: 185px;
	border-right-style: solid;
	border-right-color: #BDB1A6;
	border-right-width: 12px;
}

#sidebar-second {
	float: left;
  	display: inline;
  	position: relative;
}

.region-content{
  float: left;
  width:733px;
}

#block-menu-block-3 .content .menu-block-3
{
	color: red;
	float:left;
	margin-top:10px;
	font-size:18px;
}

#block-menu-block-3 .content .menu-block-3
ul
{
    list-style: none;
	margin:0 10px 0 0;
	padding:0; 
	text-align: right;	
}

#block-menu-block-3 .content .menu-block-3 li
{
padding-top:12px;
}


#block-menu-block-3 .content .menu-block-3 li a
{
display: block; 
width: 155px;  
color: #000;
text-decoration: none;
}

.reservations {}
#block-menu-block-3 .content .menu-block-3 li.menu-mlid-368 a:hover
{
color: #C75B12;
}

.ourRoows {}
#block-menu-block-3 .content .menu-block-3 li.menu-mlid-371 a:hover
{
color: #FFD65A;
}
.ourRoows {}
#block-menu-block-3 .content .menu-block-3 li.menu-mlid-371 a.active,
#block-menu-block-3 .content .menu-block-3 li.menu-mlid-371 a.active-trail
{
color: #FFD65A;
}

.ourMotel {}
#block-menu-block-3 .content .menu-block-3 li.menu-mlid-523 a:hover
{
color: #A3A86B;
}
.ourMotel {}
#block-menu-block-3 .content .menu-block-3 li.menu-mlid-523 a.active,
#block-menu-block-3 .content .menu-block-3 li.menu-mlid-523 a.active-trail
{
color: #A3A86B;
}


.whatToDo {}
#block-menu-block-3 .content .menu-block-3 li.menu-mlid-370 a:hover
{
color: #99CCC3;
}
.whatToDo {}
#block-menu-block-3 .content .menu-block-3 li.menu-mlid-370 a.active,
#block-menu-block-3 .content .menu-block-3 li.menu-mlid-370 a.active-trail
{
color: #99CCC3;
}


.specials {}
#block-menu-block-3 .content .menu-block-3 li.menu-mlid-369 a:hover
{
color: #A3A86B;
}
.specials {}
#block-menu-block-3 .content .menu-block-3 li.menu-mlid-369 a.active,
#block-menu-block-3 .content .menu-block-3 li.menu-mlid-369 a.active-trail
{
color: #A3A86B;
}

.contactUs {}
#block-menu-block-3 .content .menu-block-3 li.menu-mlid-373 a:hover
{
color: #99BFE5;
}
.contactUs {}
#block-menu-block-3 .content .menu-block-3 li.menu-mlid-373 a.active,
#block-menu-block-3 .content .menu-block-3 li.menu-mlid-373 a.active-trail
{
color: #99BFE5;
}


#highlighted {
float: left;	
position: relative;
xborder-bottom-style: solid;
xborder-bottom-color: #BDB1A6;
xborder-bottom-width: 12px;
}

#navigation {
float: left;	
}

#navigation .section h2 {
	color: red;
	display: none;
	}

#xnavigation ul {
    xmargin:20px 0 0 0;
	margin-bottom: 10px;
	padding 0;
	float:left;
	width:930px;
	list-style-type:none;
	background-color: red;
 }

#navigation ul {
	margin-right: 0px;
    margin-bottom: 10px;
	padding 0px;
	float:left;
	width:960px;
	list-style-type:none;
	xbackground-color: red;
 }

#navigation li {
	display: inline;
	padding:0;
}

#sidebar-first {
  background-color: white;
  margin-left: 100;  
}


#navigation .section {
margin: 0px;
}

#navigation .section li a {
	display: block;
	font-size:15px;
    float: right;
    width: 166px;
	text-align: center;
	text-decoration: none;	
    background: #603913;
 	padding: 6px 9px;
	border-right: 2px solid #BDB1A6;
	cursor: hand; 
	cursor: pointer;
}

#navigation .section li.menu-365 a {
    width: 162px;	
}


#navigation .section li.menu-366 a {
    width: 170px;	
}


ul.inline, ul.links.inline {
    display: inline;
    padding-left: 0;
    padding-right: 0;
}

#navigation .section li a {
	color: #E0D9D1;
}

navigation home .menu-230 grass #A3A86B{}
navigation dining  .menu-363 orange #C75B12;{}
navigation howToGetHere .menu-364 papaya #FFD65A{}
navigation theSpa .menu-365 lavender #A3A86B{}
navigation pool .menu-366 blue #99BFE5{}

.home{}
#navigation .section li.menu-230 a.active,
#navigation .section li.menu-230 a.active-trail
{
color: #A3A86B;	
}
#navigation .section li.menu-230 a:hover {
color: #A3A86B;	
}

.dining{}
#navigation .section li.menu-363 a.active,
#navigation .section li.menu-363 a.active-trail
{
color: #C75B12;	
}
#navigation .section li.menu-363 a:hover {
color: #C75B12;
}

howToGetHere{}
#navigation .section li.menu-364 a.active, 
#navigation .section li.menu-364 a.active-trail 
{
color: #FFD65A;	
}
#navigation .section li.menu-364 a:hover {
color: #FFD65A;
}

#navigation .section li.menu-365 a.active, 
#navigation .section li.menu-365 a.active-trail 
{
color: #A3A86B;	
}
#navigation .section li.menu-365 a:hover {
color: #A3A86B;
}


#navigation .section li.menu-366 a.active,
#navigation .section li.menu-366 a.active-trail {
color: #99BFE5;	
}

#navigation .section li.menu-366 a:hover {
color: #99BFE5;	
}

.view-top-photos .view-content {
background-color: white;
padding: 12px;
padding-bottom: 9px;
height: 280px;
width: 709px;
}

ul .menu {
	background-color: green;
	text-align: right;	
}

#block-menu-menu-front-page-left .content ul.menu {
background-color: yellow;
text-align: right;	
}

ul li.leaf {
list-style: none;
list-style-type: none;
list-style-image: none;
}
    
.leaf a {
color: black;
}

#logo {
position: relative;
left: -30px;
width: 240px;
padding-top: 15px;
}

#block-menu-block-1 h2 {
display: none;	
}

#block-menu-block-1 .content .menu-block-1 ul.menu li.first a {
border-left-width: 2px;
border-left-color: #F2F0ED;
border-left-style: solid;
}

#block-menu-block-1 .content .menu-block-1 ul.menu {
  width:777px;
  line-height:normal;
  float: left;
  margin: 0;
  padding: 0 0 0 0px;
  background-color:#BDB1A6; 
}

.menu-block-1 ul.menu li{
  margin:0;
  padding:0px;
  list-style:none;
  float: left;
  margin: 0;
  padding: 0 0 0 0px;
  background-color:#BDB1A6;
}

.menu-block-1 ul.menu li.active{
  background-color:white;
}

.menu-block-1 ul.menu li a{
  float: left;
  display: block;
  xwidth: 99px;
  width: 99px;
  text-align: center;
  padding: 5px 1px 4px 1px;
  text-decoration: none;
  font-weight: normal;
  color: #603913;
  border-color: #F2F0ED;
  border-width: 2px 2px 0px 0px;
  border-style:solid;
}

artsCrafts{}
.menu-block-1 ul.menu li.menu-mlid-379 a{
padding-left: 6px;
padding-right: 6px;
}

footFerries{}
.menu-block-1 ul.menu li.menu-mlid-498 a{
width: 109px;
}



.theSpa .overView {}
.menu-block-1 ul.menu li.menu-mlid-525 a{
width: 118px;	
}

.massage{}
.menu-block-1 ul.menu li.menu-mlid-501 a{
width: 118px;	
}

.body{}
.menu-block-1 ul.menu li.menu-mlid-502 a{
width: 118px;	
}

.face{}
.menu-block-1 ul.menu li.menu-mlid-503 a{
width: 118px;	
}

.nails{}
.menu-block-1 ul.menu li.menu-mlid-504 a{
width: 118px;	
}

.more{}
.menu-block-1 ul.menu li.menu-mlid-505 a{
width: 118px;	
}

.staff{}
.menu-block-1 ul.menu li.menu-mlid-736 a{
width: 117px;	
}


#block-menu-block-2 .content .menu-block-2 ul.menu li.first a {
border-left-width: 2px;
border-left-color: #F2F0ED;
border-left-style: solid;
}

#block-menu-block-2 .content .menu-block-2 ul.menu {
  width:777px;
  line-height:normal;
  float: left;
  margin: 0;
  padding: 0 0 0 0px;
  background-color:#BDB1A6; 
}

.menu-block-2 ul.menu li{
  margin:0;
  padding:0px;
  list-style:none;
  float: left;
  margin: 0;
  padding: 0 0 0 0px;
  background-color:#BDB1A6;
}

.menu-block-2 ul.menu li.active{
  background-color:white;
}

.menu-block-2 ul.menu li a{
  float: left;
  display: block;
  width: 99px;
  text-align: center;
  padding: 5px 1px 4px 1px;
  text-decoration: none;
  font-weight: normal;
  color: #603913;
  border-color: #F2F0ED;
  border-width: 2px 2px 0px 0px;
  border-style:solid;
}

.menu-block-2 ul.menu li a.active {
color: #603913;
}

.menu-block-2 ul.menu li a.active:hover{
color: #603913;
}

.queenRooms{}
.menu-block-2 ul.menu li.menu-mlid-506 a{
width: 124px;	
}

.kingRooms{}
.menu-block-2 ul.menu li.menu-mlid-507 a{
width: 124px;	
}

.kitchenettes{}
.menu-block-2 ul.menu li.menu-mlid-508 a{
width: 124px;	
}

.house{}
.menu-block-2 ul.menu li.menu-mlid-509 a{
width: 124px;	
}

.petFriendly{}
.menu-block-2 ul.menu li.menu-mlid-522 a{
width: 124px;	
}

.whales{}
.menu-block-2 ul.menu li.menu-mlid-522 a{
width: 124px;	
}

.kayaking{}
.menu-block-2 ul.menu li.menu-mlid-522 a{
width: 124px;	
}

.cycling{}
.menu-block-2 ul.menu li.menu-mlid-522 a{
width: 124px;	
}

.shoreline{}
.menu-block-2 ul.menu li.menu-mlid-522 a{
width: 124px;	
}

.hiking{}
.menu-block-2 ul.menu li.menu-mlid-522 a{
width: 124px;	
}

.driving{}
.menu-block-2 ul.menu li.menu-mlid-522 a{
width: 124px;	
}

.house{}
.menu-block-2 ul.menu li.menu-mlid-509 a{
width: 112px;	
}

.cycling{}
.menu-block-2 ul.menu li.menu-mlid-518 a{
width: 109px;	
}


/* Our Inn Items */
.menu-block-2 ul.menu li.menu-mlid-372 a,
.menu-block-2 ul.menu li.menu-mlid-511 a,
.menu-block-2 ul.menu li.menu-mlid-512 a,
.menu-block-2 ul.menu li.menu-mlid-510 a,
.menu-block-2 ul.menu li.menu-mlid-514 a {
  width:118px;
}

.menu-block-2 ul.menu li.menu-mlid-515 a {
	width:117px;
}



.menu-block-2 ul.menu li a:hover{
color: white;	
}


#worldweb {
float: left;
text-align: center;
margin: 50px 0 30px 10px;
padding: 10px 0 10px 20px;
width: 143px;
background: white;
color: black;
border: 1px solid;
}

#worldweb tbody{
border-top: 0px none;	
	
}


 #address {
    float:left;
    width:175px;
    text-align:right;
    padding:0 10px 0 0; 
    xmargin: 10px 10px 0 0;
    margin-left: 30px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size:12px;
    color: #603913;
}

.bg_font {
    font-size:14px;
}
 
 
.sm_font {
    font-size: 10px;
}
 
 
 
 #block-block-2 .content div p
 {
	float:left;
	width:175px;
	text-align:right;
	padding:0 10px 0 0; 
	margin: 10px 10px 0 0;
    font-size:12px;
	color: #603913;
}

#copyright {
	float:left;
	width: 580px;
	text-align: center;
	margin-top:40px;
	font-size:10px;
}

#copyright p {
    padding:0;
	margin: 10px 0 0 0;
}
	
#copyright a {
	text-decoration:none;
	color:#d22e30;
}

#copyright a:hover {
	text-decoration:underline;
}


/* Body Color Handling */

.field-name-field-color {
	display:none;
}


/* GRASS */


.grass_page a {
	text-decoration:none;
	color:#A3A86B;
}

.grass_page a:hover, a:focus{
	text-decoration: underline;
	color:#A3A86B;
}

.grass_page a:active {
	text-decoration:none;
	color:#A3A86B;
}

.grass_page h1 {
	color: #A3A86B;
}
 
/* -- BLUE -- */


.blue_page a {
	text-decoration:none;
	color:#99BFE5;
}

.blue_page a:hover, a:focus{
	text-decoration: underline;
	color:#99BFE5;
}

.blue_page a:active {
	text-decoration:none;
	color:#99BFE5;
}

.blue_page h1 {
	color: #99BFE5;
}
 
/* LAVENDER */

.lavender_page a {
	text-decoration:none;
	color:#A3A86B;
}

.lavender_page a:hover, a:focus{
	text-decoration: underline;
	color:#A3A86B;
}

.lavender_page a:active {
	text-decoration:none;
	color:#A3A86B;
}

.lavender_page h1 {
	color: #A3A86B;
}

/* PAPAYA */


.papaya_page a {
	text-decoration:none;
	color:#FFD65A;
}

.papaya_page a:hover, a:focus{
	text-decoration: underline;
	color:#FFD65A;
}

.papaya_page a:active {
	text-decoration:none;
	color:#FFD65A;
}

.papaya_page h1 {
	color: #FFD65A;
}

/* SEAFOAM */

.seafoam_page a {
	text-decoration:none;
	color:#99CCC3;
}

.seafoam_page a:hover, a:focus{
	text-decoration: underline;
	color:#99CCC3;
}

.seafoam_page a:active {
	text-decoration:none;
	color:#99CCC3;
}

.seafoam_page h1 {
	color: #99CCC3;
}

/* ORANGE */

.orange_page a {
	text-decoration:none;
	color:#C75B12;
}

.orange_page a:hover, a:focus{
	text-decoration: underline;
	color:#C75B12;
}

.orange_page a:active {
	text-decoration:none;
	color:#C75B12;
}

.orange_page h1 {
	color: #C75B12;
}



/* Side Page Graphics */

.field-name-field-graphic {
	display:none;
}

#rh_bot_copy {
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	float:left;
	width:683px;
	background-color:#fff;
	padding: 25px 25px 30px 25px;
}

.page-node-51 #rh_bot_copy {
	display:none;
}

#copy_box {
	float: left;
	width:420px;
	padding:0;
	margin:0;
}

.sun_logo {
	  padding-left:80px; 
	  padding-top:35px; 
}
  
.grass_logo {
	 padding-left:112px; 
	 padding-top:30px;
}

.spa_logo {
	 padding-left:75px; 
	 padding-top:0;
}
 
.water_logo {
	 padding-left:68px;
	 padding-top:110px; 
}
 
.node-type-forum p {
	font-size: 14px;
    margin: 8px 0px 8px 20px;
}

.node-type-forum .submitted  ,.node-type-forum .field-item {
  margin-left:40px;
}

.node-type-forum .field-label {
	margin:10px 0 10px 30px;
}

.node-forum #page-title {
	color:#A3A86B;
	margin-bottom:20px;
}

.node-forum .comment-form {
	margin-left:40px;
}

.node-forum h2.comment-form, .node-type-forum .comment-add {
	font-size:12px;
	color:#FFD65A;
	margin-top:20px;
}

.node-type-forum .permalink {
	font-size:14px;
	color:#A3A86B;
	text-decoration:none;

}
.comment h3 {
		margin-top:10px;
		margin-bottom:5px;
		margin-left:5px;
		padding-left:10px;
		width:400px;
		border-top:1px dashed #A3A86B;
}

.comment ul.links.inline {
	margin-left:60px;
}

.node-type-forum .submitted .permalink {
	display:none;
}

.node-forum ul {
	font-size:12px;
	margin-left:40px;
}

.node-forum ul li {
	padding:0;
	margin:0;
}

.node-forum .submitted {
	font-size:10px;
}

.node-forum .comment-new {
  margin:0 0 0 40px;
  font-size:10px;
  padding:0;
  color:#F82200
}

/* Availability Form Elements */

#block-webresavail-availability-query #webresavail-availability-form div .container-inline-date {
	clear:none;
}

#block-webresavail-availability-query #edit-description.form-item {
	width:auto;
	margin-top:20px;
}
#block-webresavail-availability-query .form-item-num-adults {
	clear:none;
}

#block-webresavail-availability-query .form-item-code {
	clear:none;
}

#block-webresavail-availability-query .form-item {
	margin-left:20px;
	margin-top:5px;
}



/* availability form */

.form-required {
	display:none;
}

.form-item .description {
	margin-top:2px;
}

#block-webresavail-availability-query {
	font-size:12px;
	float:left;
	width:157px;
	padding-left:6px;
	margin-left:10px;
	margin-top:40px;
	border:1px solid black;
}

.front #block-webresavail-availability-query {
  margin-top:60px;
}

#block-webresavail-availability-query .form-item {
	margin:10px 0 0 30px;
	float:left;
}

#block-webresavail-availability-query .form-item label {
	text-shadow:0 1px 1px #fff;
	margin-bottom:1px;
}

#block-webresavail-availability-query .form-item input.form-text, #block-webresavail-availability-query .form-item select {
	padding:2px 5px;
/*	background-image: -webkit-gradient(linear, 0% 0%, 0% 12%, from(#999), to(#fff));
	background-image: -moz-linear-gradient(0% 12% 90deg, #fff, #999);  */
	background-color:#fff; 
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-o-border-radius:4px;
	border-radius:4px; 
}

#block-webresavail-availability-query .form-item select {
	padding:0;
}

#block-webresavail-availability-query #edit-description.form-item {
	float:left;
	color:#4f3324;
	font-size:13px;
	margin-top:.7em;
	margin-left:12px;
}

#block-webresavail-availability-query #edit-description.form-item label {
	text-align:center;
	margin:auto;
	display:none;  /* Killed the label  */
}

#block-webresavail-availability-query .form-item .form-item {
	margin-left:0;
}

#block-webresavail-availability-query .form-item-code {
	float:left;
	clear:left;
}

#block-webresavail-availability-query .form-item-date-from {
	margin-right:0;
	margin-bottom:0;
}

#block-webresavail-availability-query .form-item-date-from #edit-date-from {
	padding:0;
}

#block-webresavail-availability-query .form-item-date-from #edit-date-from .form-item-date-from-date {
	margin-top:0;
}

#block-webresavail-availability-query .form-item-date-from #edit-date-from .form-item-date-from-date .description {
	padding-left:4px;
}

#block-webresavail-availability-query .form-item-date-from #edit-date-from-datepicker-popup-0 {
	text-align:center;
	-moz-border-radius:5px;
	border-radius:5px;
}


#block-webresavail-availability-query .form-item-nights select,
#block-webresavail-availability-query .form-item-num-adults select,
#block-webresavail-availability-query .form-item-num-children select {
    text-align: center;
    width: 3.5em;

}

#block-webresavail-availability-query .form-item-num-adults{
	float:left;
	clear:left;
}

#block-webresavail-availability-query .form-item-num-children {
	float:left;
	clear:right;
	margin-left:16px;
}co

#block-webresavail-availability-query .form-item-code {
	float:left;
	width:100%;
	clear:left;
}

#block-webresavail-availability-query .form-item-code input {
	font-size:.8em;
	
}

#block-webresavail-availability-query input.form-submit {
	float:left;
	margin:15px 0 20px 30px;
	font-weight:bold;
	line-height:1;
	padding:4px 7.5px;
	color:#444;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.85);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#bbb)));
	background-image: -moz-linear-gradient(0% 100% 90deg, #fff, #bbb); 
	background-color:#fff;
}

#block-webresavail-availability-query .container-inline-date .form-item {
	border:none;
	margin-left:8px;
}

#block-webresavail-availability-query .container-inline-date .form-item label {
	margin-left:8px;
}

#br-link {
	margin-bottom:10px;
	float:left;
	width:100%;
}

#br-link p {
	margin:10px 0 10px 10px;
	padding:0;
	font-size:12px;
}

#ta-award {
	float:left;
	margin-left:15px;
	margin-top:20px;
	margin-bottom:10px;
}

/* Staff Bios Page */

.view-staff-bios {
	float:left;
	padding:20px 30px;
	width:673px;
}

.view-staff-bios .view-content {
	float:left;
	width:673;
}

.view-staff-bios .views-row,
.view-staff-bios .views-row .field {
	float:left;
	width:673px;
}
.view-staff-bios .views-row {
	margin-bottom:10px;
}

.view-staff-bios .views-row .field-name-field-employee-picture {
	float:left;
	width:160px;
	padding:0 20px 0 0;
}

.view-staff-bios .views-row .field-name-body {
	float:left;
	width:473px;
	padding:10px;
	padding-top:10px;
	font-size:14px;
}

.view-staff-bios h2 a {
	color:#603913;
}

.view-staff-bios h2 {
	font-size:16px;
	float:left;
	width:100%;
	padding:4px 0;
	border-top:1px solid #BDB1A6;
	border-bottom:1px solid #BDB1A6;
}

#footer {
	float:left;
	width:100%;
}



/* Group Request Form */

.node-type-webform .submitted {
	display:none;
}

.webform-client-form .form-item {
	clear:left;
}

#webform-component-name label,
#webform-component-title label,
#webform-component-organization label,
#webform-component-street label,
#webform-component-city label,
#webform-component-state label,
#webform-component-zip-postal-code label,
#webform-component-country label,
#webform-component-phone label,
#webform-component-number-of-attendees label,
#webform-component-number-of-guest-rooms label,
#webform-component-further-accommodation-requests label,
#webform-component-arrival-date label,
#webform-component-departure-date label,
#webform-component-dates-flexible label,
#webform-component-shuttle-needed label,
#webform-component-luggage-handling-needed label,
#webform-component-preferred-room-set-up label,
#webform-component-audio-visual-requirements label,
#webform-component-group-type label,
#webform-component-email label {
	float:left;
	width:250px;
	text-align:right;
	clear:left;
}

#webform-component-number-of-guest-rooms label {margin-right:1em;}

#webform-component-shuttle-needed .form-radios label,
#webform-component-luggage-handling-needed .form-radios label,
#webform-component-dates-flexible .form-radios label {
	width:auto;
	text-align:left;
	float:none;
}


#webform-component-pref-communication ,
#webform-component-food--beverage-requirements,
#webform-component-spa,
#webform-component-adventures,
#webform-component-meeting-room-requirements,
#webform-component-additional-comments,
#webform-component-how-did-you-hear-about-us {
    float:left;
	margin-left:100px;
	clear:both;

}

.webform-client-form #edit-actions {
	float:left;
	clear:both;
	margin-left:40%;
	margin-bottom:40px;
}

.node-webform .field-name-body {
	margin: 5px 25px;
}
	


